venv/
env/
.env
.idea/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db

# Archivos de modelos grandes (generados localmente)
models/*.pickle
*.pickle

# Datos
data/processed/*
!data/processed/.gitkeep

# Modelos (Los .pickle y la carpeta de BETO pesan GBs)
models/*
!models/.gitkeep

# --- Streamlit ---
.streamlit/secrets.toml
data/raw/dataset_medico_ecuador_50k.csv
notebooks/1_obtencion_datos.ipynb
notebooks/2_preprocesamiento_nlp.ipynb
